:root {
    /* color */
    --main-title-color: #212121;
    --secondary-title-color: #FFFFFF;
    --main-text-color: #757575;
    --logo-color: #2196F3;
    --secondary-logo-color: #000000;
    --accent-color: #2196F3;
    --contact-color: rgba(255, 255, 255, 0.6);
    --border-color: #ECECEC;
    --border-color-social: #AFB1B8;
    /* bacsground */
    --main-background-color: #FFFFFF;
    --secondary-background-color: #F5F4FA;
    --button-background-color: #2196F3;
    --accent-background-color: #188CE8;
    --footer-background-color: #2F303A;
    --hero-background-color: #C4C4C4;
    /* others */
    --indent: 30px;
    --items: 3;
    /* transition */
    --duration-timing: 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

/* body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--main-background-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}



img {
    display: block;
    max-width: 100%;
    height: auto;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;

}

a {
    text-decoration: none;
} */
/* .title {
    margin-bottom: 50px;

    font-size: 36px;
    line-height: calc(42 / 36);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-title-color);

} */

/* .visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
} */

/* .container {
    width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
  
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
} */
/* .btn {
    display: block;
    height: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.06em;
    color: var(--secondary-title-color);
    background-color: var(--button-background-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    cursor: pointer;

    transition: background-color var(--duration-timing);
}

.btn:hover,
.btn:focus {
    background-color: var(--accent-background-color);
} */

/* card-set */
/* .card-set {
    display: flex;
    flex-wrap: wrap;
    gap: var(--indent);
}

.card-set__item {
    flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
} */

/* ----------------------HEADER------------------------------------ */
/* .header {
    border-bottom: 1px solid var(--border-color);
}

.header__container { 
    display: flex;
    align-items: center;

} */
/* .nav,
.nav__list {
    display: flex;
    align-items: center;

} */

/* .logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;
    color: var(--logo-color);
}

.logo__span {
    color: var(--secondary-logo-color);
} */

/* .header__logo {
    margin-right: 93px;
} */

/* .contacts {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.nav__item:not(:last-child) {
    margin-right: 50px;
}

.nav__link,
.contacts__link {
    display: inline-block;
    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;

    transition: color var(--duration-timing);
}

.nav__link {
    position: relative;

    color: var(--main-title-color);
}

.nav__link:hover,
.nav__link:focus,
.contacts__link:hover,
.contacts__link:focus {
    color: var(--accent-color);
}

.nav__link--carrent {
    color: var(--accent-color);
}
.nav__link--carrent::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 4px;
    background: var(--button-background-color);
    border-radius: 2px;
    color: var(--accent-color);
}

.contacts__item:not(:last-child) {
    margin-right: 50px;
}

.contacts__link {
    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--main-text-color);
}
.contacts__icon
 {
    margin-right: 10px;
    fill: currentColor;

} */

/* -------------------HERO------------------- */
/* .hero {
    max-width: 1600px;
    max-height: 600px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 200px;
    padding-top: 200px;
    background-color: var(--hero-background-color);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-backround.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
} */

/* .main-title {
    width: 696px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;


    font-weight: 900;
    font-size: 44px;
    line-height: calc(60 / 40);
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--secondary-title-color);

} */


/* .hero__btn {
    min-width: 216px;
    padding: 10px 32px;
    margin-right: auto;
    margin-left: auto;

} */


/* --------Наші переваги-------- */


/* .benefits {
    display: flex;
    gap: 30px;
}

.benefits__item {

    width: 270px;
}



.benefits__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;

    background: var(--secondary-background-color);
    border-radius: 4px;
}

.benefits__name {
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-title-color);
}

.benefits__text {
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: var(--main-text-color);
} */

/* --------Чим ми займаємося------ */
/* .services {
    padding-top: 0;
} */
/* .services__item {
    position: relative;
}
.services__thumb {
    position: absolute;
    bottom: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;

    background: rgba(47, 48, 58, 0.8);
}

.services__name {
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #FFFFFF;
} */

/* -------Наша команда-------- */
/* .team {
    background-color: var(--secondary-background-color);
}



.team__list {
    --items: 4;
}

.team__item {
    background-color: var(--main-background-color);
    border-bottom: 2px solid var(--border-color);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team__wrapper {
    padding-top: 30px;
    padding-bottom: 30px;
}

.team__name {
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: calc(19 / 16);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-title-color);
}

.team__position {
    margin-bottom: 16px;

    font-weight: 400;
    font-size: 16px;
    line-height: calc(19 / 16);
    text-align: center;
    color: var(--main-text-color);
} */

/* .socials {
    display: flex;
    justify-content: center;
    align-items: center;

}

.socials__item {
    width: 44px;
    height: 44px;
}

.socials__item:not(:last-child) {
    margin-right: 10px;
}

.socials__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    border-radius: 50%;
    background-color: var(--main-background-color);
    color: var(--border-color-social);

    transition: color var(--duration-timing), background-color var(--duration-timing);

}
.socials__link:hover,
.socials__link:focus {
    color: var(--secondary-title-color);
    background-color: var(--accent-background-color);
}
.socials__icon {
    fill: currentColor;
}
 */

/* --------------------------------Clients--------------- */
/* .clients__list {
    display: flex;
    justify-content: center;
    align-items: center;

}
.clients__item {
    width: 170px;
    height: 92px;

}
.clients__item:not(:last-child) {
    margin-right: 30px;
}
.clients__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 1px solid var(--border-color-social);
    border-radius: 4px;
    color: var(--border-color-social);

    transition: color var(--duration-timing), border var(--duration-timing);
}
.clients__link:hover,
.clients__link:focus {
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
}
.clients__logo {
    fill: currentColor;
} */

/* ------------------------------FOOTER------------------------ */
/* .footer {

    padding-top: 60px;
    padding-bottom: 60px;

    background-color: var(--footer-background-color);
}

.logo__span--weit {
    color: var(--secondary-title-color);
}

.footer__logo {
    display: inline-block;
    margin-bottom: 20px;
} */

/* .address {
    width: 231px;
    font-style: normal;
}

.address__item:not(:last-child) {
    margin-bottom: 9px;
}

.address__link {
    font-family: inherit;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: currentColor;

    transition: color var(--duration-timing);
}
.address__item:not(:first-child) {
    color: var(--contact-color);
}

.address__item:first-child {
    color: var(--secondary-title-color);
}
.address__link:hover,
.address__link:focus {
    color: var(--accent-color);
} */

/* .footer__container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.footer__title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--secondary-title-color);
} */

/* .socials__link--dark-theme {
    background-color: rgba(255, 255, 255, 0.1);;
    color: var(--secondary-title-color);
} */

/* ------footer-form--------- */
/* .footer-form {
    display: flex;
    align-items: center;
}
.footer-form__label {
 
   
    margin-right: 12px;
}
.footer-form__field {

    width: 358px;
    height: 50px;
    padding: 15px 16px;

    font-size: 16px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: var(--secondary-title-color);
   
    transition: border-color var(--duration-timing);
}
.footer-form__field::placeholder {    
    font-weight: 400;
    font-size: 16px;
    line-height: calc(20 / 16);
    color: rgba(255, 255, 255, 0.6);
}
.footer-form__field:focus {
    border-color: var(--border-color);
}

.footer-form__btn {
    display: flex;
    justify-content: space-between;
    width: 200px;
    padding: 10px 28px;  
} */



/* ==================================PORTFOLIO=============================================== */
/* .filter {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 50px;
}

.filter__button {
    min-height: 38px;
    padding: 6px 22px;

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(26 / 16);
    text-align: center;
    letter-spacing: 0.03em;
    border: none;
    color: var(--main-title-color);
    background-color: var(--secondary-background-color);
    border-radius: 4px;
    cursor: pointer;

    transition: color var(--duration-timing), background-color var(--duration-timing), box-shadow var(--duration-timing);
}

.filter__button:hover,
.filter__button:focus {
    color: var(--main-background-color);
    background-color: var(--button-background-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  
}

.project__link {
    display: inline-block;

    transition: box-shadow var(--duration-timing);
}

.project__link:hover,
.project__link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);

}
.project__thumb {
    position: relative;
    overflow: hidden;
}
.project__overlay {
    position: absolute;
    left: 0;
    top: 0;
    transform: translateY(100%);

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
    padding-left: 24px;
    padding-right: 24px;
    

    background: rgba(33, 150, 243, 0.9);

    transition: transform var(--duration-timing);
}
.project__description {
    font-size: 18px;
    line-height: calc(28 / 18);
    letter-spacing: 0.03em;

    color: #FFFFFF;
}
.project__link:hover .project__overlay,
.project__link:focus .project__overlay {
    transform: translateY(0);
}


.project__wrapper {
    padding: 20px 24px;
    border-right: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);

}

.project__label {
    margin-bottom: 4px;

    font-family: inherit;
    font-size: 18px;
    line-height: calc(36 / 18);
    letter-spacing: 0.06em;
    color: var(--main-title-color);
}

.project__classification {
    font-weight: 400;
    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.03em;
    color: var(--main-text-color);
} */

/* ===============Modal-windov========================== */
/* .backdrop {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);

    transition: opacity var(--duration-timing), visibility var(--duration-timing);
}
.backdrop--is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.modal__wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    min-width: 528px;
    min-height: 521px;
    padding: 40px;
    
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    opacity: 1;
    transition: transform var(--duration-timing), opacity var(--duration-timing);
    

}
.backdrop--is-hidden .modal__wrapper {
    opacity: 0;
    transform: translate(-50%, -80%);
}
.modal__btn {
    position: absolute;
    top: 8px;
    right: 8px;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 30px;
    height: 30px;
    background-color: var(--main-background-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
    transition: fill var(--duration-timing);

}
.modal__btn:hover,
.modal__btn:focus {
    fill: var(--button-background-color)
} */
/* .modal-form__name {
    display: block;
    margin-bottom: 12px;

    font-weight: 700;
    font-size: 20px;
    line-height: calc(23 / 20);
    text-align: center;
    color: #212121;
}
.modal-form__group {
    margin-bottom: 20px;
}
.modal-form__label {
    display: block;
    margin-bottom: 4px;
    
    font-weight: 400;
    font-size: 12px;
    line-height: calc(14 / 12);
    color: var(--main-text-color);
}
.modal-form__wrapper {
    position: relative;

    width: 100%;
    margin-bottom: 10px;
    
}
.modal-form__field {
    display: block;
    width: 100%;
    height: 40px;
    padding-left: 42px;
    padding-right: 12px;
    
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: 1px solid transparent;
    outline-offset: -1px;
    transition: outline var(--duration-timing);
}
.modal-form__field:focus {
    outline-color: var(--accent-color);
}
.modal-form__icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);

    transition: fill var(--duration-timing);
}
.modal-form__field:focus + .modal-form__icon {
    fill: var(--accent-color);
}
.modal-form__coment {
    display: block;
    width: 100%;
    height: 120px;
    padding: 12px 16px;

    font-size: 14px;

    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: 1px solid transparent;
    outline-offset: -1px;
    transition: outline var(--duration-timing);
}
.modal-form__coment::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}
.modal-form__coment:focus {
    outline-color: var(--accent-color);
} */
/* .checkbox__label {
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: var(--main-text-color);
    user-select: none;
}
.checkbox {
    position: relative;
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;

    font-weight: 400;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: var(--main-text-color);
    user-select: none;
}

.checkbox__agreement {
    text-underline-position: under;
    color: var(--accent-color);
    padding-left: 5px;
}



.checkbox__icon {
    margin-right: 7px;
}

.checkbox__icon--check {
    opacity: 0;
    transition: opacity var(--duration-timing);
}

.checkbox__input:checked + .checkbox__icon .checkbox__icon--check {
    opacity: 1;
}

.checkbox__icon--uncheck {
    opacity: 1;
    transition: opacity var(--duration-timing)
}

.checkbox__input:checked + .checkbox__icon .checkbox__icon--uncheck {
    opacity: 0;
} */

/* .modal-form__btn {
    
    width: 200px;
    margin-left:auto;
    margin-right: auto;
    padding: 10px 52px;
  
} */


