.contacts {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.contacts__item:not(:last-child) {
    margin-right: 50px;
}

.contacts__link {
    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    color: var(--main-text-color);

    transition: color var(--duration-timing);

    &:hover,
    &:focus {
        color: var(--accent-color);
        }
}

.contacts__icon {
    margin-right: 10px;
    fill: currentColor;
}



