.nav {
   display: flex;
   align-items: center;
}
    
.nav__list {
   display: flex;
   align-items: center;
}

.nav__item:not(:last-child) {
   margin-right: 50px;
}

.nav__link {
   position: relative;
   display: inline-block;
   padding-top: 32px;
   padding-bottom: 32px;

   font-weight: 500;
   font-size: 14px;
   line-height: calc(16 / 14);
   letter-spacing: 0.02em;
   color: var(--main-title-color);

   transition: color var(--duration-timing);

   &:hover,
   &:focus {
      color: var(--accent-color);
   }
}

.nav__link--carrent {
   color: var(--accent-color);
}
    
.nav__link--carrent::after {
   content: "";
   position: absolute;
   bottom: 0;
   left: 0;
    
   width: 100%;
   height: 4px;
   background: var(--button-background-color);
   border-radius: 2px;
   color: var(--accent-color);
}