// =======================filter=========================
.filter {
   display: flex;
   justify-content: center;
   gap: 8px;
   margin-bottom: 50px;
}
 
.filter__button {
   min-height: 38px;
   padding: 6px 22px;

   font-family: inherit;
   font-weight: 500;
   font-size: 16px;
   line-height: calc(26 / 16);
   text-align: center;
   letter-spacing: 0.03em;

   border: none;
   color: var(--main-title-color);
   background-color: var(--secondary-background-color);
   border-radius: 4px;
   cursor: pointer;
   transition: color var(--duration-timing), background-color var(--duration-timing), box-shadow var(--duration-timing);
 
   &:hover,
   &:focus {
      color: var(--main-background-color);
      background-color: var(--button-background-color);
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
   }
}

// ====================================project========================
.project__link {
   display: inline-block;

   transition: box-shadow var(--duration-timing);

   &:hover,
   &:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
   }
}

.project__thumb {
   position: relative;
   overflow: hidden;
}

.project__overlay {
   position: absolute;
   left: 0;
   top: 0;
   transform: translateY(100%);

   display: flex;
   justify-content: center;
   align-items: center;

   width: 100%;
   height: 100%;
   padding-left: 24px;
   padding-right: 24px;


   background: rgba(33, 150, 243, 0.9);

   transition: transform var(--duration-timing);
}

.project__link:hover .project__overlay,
.project__link:focus .project__overlay {
   transform: translateY(0);
}

.project__description {
   font-size: 18px;
   line-height: calc(28 / 18);
   letter-spacing: 0.03em;

   color: #FFFFFF;
}

.project__wrapper {
   padding: 20px 24px;
   border-right: 1px solid var(--border-color);
   border-left: 1px solid var(--border-color);
   border-bottom: 1px solid var(--border-color);
}

.project__label {
   margin-bottom: 4px;

   font-family: inherit;
   font-size: 18px;
   line-height: calc(36 / 18);
   letter-spacing: 0.06em;
   color: var(--main-title-color);
}

.project__classification {
   font-weight: 400;
   font-size: 16px;
   line-height: calc(30 / 16);
   letter-spacing: 0.03em;
   color: var(--main-text-color);
}