.main-title {
    width: 696px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;


    font-weight: 900;
    font-size: 44px;
    line-height: calc(60 / 40);
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--secondary-title-color);

}
.title {
    margin-bottom: 50px;

    font-size: 36px;
    line-height: calc(42 / 36);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-title-color);
}
      